body {
 background-color: #4ce823;
	background: rgb(68,80,25);
background: linear-gradient(90deg, rgba(68,80,25,1) 0%, rgba(76,232,35,1) 1%, rgba(211,255,0,1) 99%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%);
}
pod {
	position: absolute;
	width:100%;
	height: 20%;
	left: 0px;
	top:1300px;
	background: green;
	text-align: center;
}
body{
<img src="Компания1.jpg" align="bottom"> 
}